@import "../../assets/styles/variables.scss";

.Sidebar {
  flex: 0 0 140px;
  background-color: var(--el-color);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $tablet) {
    align-items: flex-start;
    position: absolute;
    left: 0;
    height: 100%;
    //transform: translateX(-10px);
  }

  .User {
    border-bottom: 0.5px solid #9C9C9C;
    padding: 20px 10px;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}