@import "../../assets/styles/mixins.scss";

.User {
  color: var(--dark-grey);
  font-size: calcFluidFontSize(12, 18, 320, 2560);
  font-weight: 500;
  display: flex;
  align-items: center;

  .Image{
    max-width: 36px;
    border-radius: 50%;
    margin-left: 10px;
  }
}