@import "../../assets/styles/mixins.scss";

.PageContainer {
  @include adaptive-value(padding-left, 80, 12, 0);
  @include adaptive-value(padding-right, 80, 12, 0);
  @include adaptive-value(padding-top, 32, 16, 0);
  @include adaptive-value(padding-bottom, 32, 16, 0);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}