.MenuSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    color: var(--light-grey);
    transition: all var(--duration) var(--timing-func);

    i:before {
      font-size: 30px;
      margin-top: 10px;
      display: inline-block;
      margin-bottom: 5px;
      transition: all var(--duration) var(--timing-func);
    }

    &:hover, &:hover i:before {
      color: var(--red);
    }
  }

  .Active {
    color: var(--red);

    i:before {
      color: var(--red);
    }
  }
}