@import "../../assets/styles/variables.scss";

.Select {
  background: #FFFFFF;
  border: 0.5px solid var(--lightest-grey);
  border-radius: var(--radius-small);
  color: var(--grey);
  padding: 8px 0 8px 0;
  min-width: 88px;
  height: 40px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  @media (max-width: $mobile-big) {
    height: 28px;
  }

  .Value {
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 60%;
    border-right: 0.5px solid var(--lightest-grey);
  }

  .OpenButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    cursor: pointer;

    .Active {
      transform: rotate(-180deg);
    }
  }
}