@import "../../assets/styles/variables.scss";

.LogoWrapper {

  .Logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 191px;
    @media (max-width: $mobile-big) {
      max-width: 137px;
    }

    img {
      width: 100%;
    }
  }
}