@import "../../assets/styles/variables.scss";

.ErrorPage {
  width: 100%;
  height: 100%;
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Image {
    max-width: 375px;
    img {
      width: 100%;
    }
  }

  .Title {
    font-size: 36px;
    font-weight: 800;
    color: var(--lightest-red);
    margin-top: 56px;

    @media (max-width: $tablet) {
      font-size: 17px;
    }
  }

  .SubTitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--grey);
    margin-top: 24px;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 15px;
      margin-top: 16px;
    }
  }
}